<div class="config">
  <b>Config</b>

  <div class="field">
    Score |
    <label>
      <input type="checkbox"
             [checked]="config.score?.enabled"
             (change)="setField({ score: { enabled: $event.target.checked } })">
      enabled
    </label>
  </div>

  <div class="field">
    Sync |
    <label>
      <input type="checkbox"
             [checked]="config.sync?.enabled"
             (change)="setField({ sync: { enabled: $event.target.checked } })">
      enabled
    </label>
  </div>

  <div class="field">
    Misc |
    <label>
      <input type="checkbox"
             [checked]="config.isMobile"
             (change)="setField({ isMobile: $event.target.checked })">
      isMobile
    </label>
  </div>
</div>
