<div class="blocks">
  <sky-block-group [attr.config]="config">
    <sky-input id="input-1">
      <sky-input-answer>test</sky-input-answer>
      <sky-input-answer>smth here</sky-input-answer>
      <sky-input-answer>more</sky-input-answer>
      <sky-input-answer>answer</sky-input-answer>
    </sky-input>

    <sky-order-word id="ordw-1">
      <sky-order-word-item answer-id="ordw-item-1">h</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-2">i</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-3">j</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-4">a</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-5">c</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-6">k</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-7">e</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-8">r</sky-order-word-item>
    </sky-order-word>

    <sky-input id="input-2">
      <sky-input-answer>test</sky-input-answer>
      <sky-input-answer>smth here</sky-input-answer>
      <sky-input-answer>more</sky-input-answer>
      <sky-input-answer>answer</sky-input-answer>
    </sky-input>

    <sky-dnd-group id="m684485DC">
      <sky-dnd-group-drags>
        <sky-dnd-group-drag answer-id="drag1">
          sm<b>u</b>ggling
        </sky-dnd-group-drag>
        <sky-dnd-group-drag answer-id="drag2">
          p<b>u</b>nishment
        </sky-dnd-group-drag>
        <sky-dnd-group-drag answer-id="drag3">
          b<b>ur</b>gle
        </sky-dnd-group-drag>
        <sky-dnd-group-drag answer-id="drag4">
          m<b>ur</b>der
        </sky-dnd-group-drag>
        <sky-dnd-group-drag answer-id="drag5">
          mansl<b>au</b>ghter
        </sky-dnd-group-drag>
      </sky-dnd-group-drags>
      <sky-dnd-group-groups>
        <sky-dnd-group-item drag-ids="drag1,drag2" group-id="drop1">
          [<b>ʌ</b>]
        </sky-dnd-group-item>
        <sky-dnd-group-item drag-ids="drag3,drag4" group-id="drop2">
          [ɜː]
        </sky-dnd-group-item>
        <sky-dnd-group-item drag-ids="drag5" group-id="drop3">
          [ɔː]
        </sky-dnd-group-item>
      </sky-dnd-group-groups>
    </sky-dnd-group>
  </sky-block-group>
</div>


<div class="controls">
  <score></score>

  <config (configChange)="onConfigChange($event)"></config>

  <events></events>
</div>
