<div class="blocks">
  <sky-block-group [attr.config]="config">
    <sky-input id="input-1">
      <sky-input-answer>test</sky-input-answer>
      <sky-input-answer>smth here</sky-input-answer>
      <sky-input-answer>more</sky-input-answer>
      <sky-input-answer>answer</sky-input-answer>
    </sky-input>

    <sky-order-word id="ordw-1">
      <sky-order-word-item answer-id="ordw-item-1">h</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-2">i</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-3">j</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-4">a</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-5">c</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-6">k</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-7">e</sky-order-word-item>
      <sky-order-word-item answer-id="ordw-item-8">r</sky-order-word-item>
    </sky-order-word>

    <sky-input id="input-2">
      <sky-input-answer>test</sky-input-answer>
      <sky-input-answer>smth here</sky-input-answer>
      <sky-input-answer>more</sky-input-answer>
      <sky-input-answer>answer</sky-input-answer>
    </sky-input>
  </sky-block-group>
</div>


<div class="controls">
  <score></score>

  <config (configChange)="onConfigChange($event)"></config>

  <events></events>
</div>
